.card-product {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px #D4D4D4;
    height: max-content;
}

.card-product:hover {
    transition: all;
    transition-duration: 2s;
    box-shadow: 0 5px 5px #D4D4D4;
}

.card-product:hover .card-product-image {
    transition: all 2s;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.card-image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gris-color);
    border-radius: 10px;
}

.card-product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height : 180px ;
}

.card-product-title {
    font-size: 0.9rem;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 100%;
}

.card-product-discription {
    font-size: 0.8rem;
}

.card-container-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-article {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 10px;
}

.card-product-badged {
    font-size: 0.7rem;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 2px 10px;
    color: white;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.text-product-not-available {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
    background-color: brown;
}
