

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.card-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #4070f4;
}

.card-image-container {
  position: relative;
  height: 200px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}

.card-user-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card-user-name {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}

.card-container-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-user-badged {
  font-size: 0.7rem;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 2px 10px;
  color: white;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}
